#container{
  padding: 25px;
  width: 1000px;
}

form {
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

#activity{
  padding: 20px;
  margin-top: 25px;
  height: 250px;
  width: 600px;
  border: 1px solid black;
  overflow: scroll;
}

.win{
  color: green;
}

.lost{
  color: red;
}

.none{
  
}
